**Install Dependencies**

In [ ]:
!pip install dash
!pip install plotly
!pip install pandas
!pip install llama-index
!pip install mysqlclient

**Imports**

In [17]:
from sqlalchemy import create_engine, MetaData
from llama_index.core import SQLDatabase, VectorStoreIndex
from llama_index.core.indices.struct_store.sql_query import SQLTableRetrieverQueryEngine
from llama_index.core.objects import SQLTableNodeMapping, ObjectIndex, SQLTableSchema
from llama_index.llms.openai import OpenAI
from llama_index.core import Settings
import openai
# dashboard
import dash
from dash import dcc, html
import plotly.express as px
import pandas as pd

**Model Configurations**

In [18]:
# Load OPENAI api key from .env file
openai_api_key = ""
openai.api_key = openai_api_key
# initialize OpenAI model
llm = OpenAI(model="gpt-3.5-turbo", api_key=openai_api_key)
Settings.llm = llm

**Database Configurations**

In [19]:
db_uri = "mysql://root:root@127.0.0.1:3306/classicmodels"
engine = create_engine(db_uri)

In [20]:
# load all table definitions
metadata_obj = MetaData()
metadata_obj.reflect(engine)

sql_database = SQLDatabase(engine)

table_node_mapping = SQLTableNodeMapping(sql_database)

table_schema_objs = []
for table_name in metadata_obj.tables.keys():
    table_schema_objs.append(SQLTableSchema(table_name=table_name))

**Vector Store Index**

In [21]:
# We dump the table schema information into a vector index. The vector index is stored within the context builder for future use.
obj_index = ObjectIndex.from_objects(
    table_schema_objs,
    table_node_mapping,
    VectorStoreIndex,
)

In [22]:
# ObjectRetriever: A retriever that retrieves a set of query engine tools.
query_engine = SQLTableRetrieverQueryEngine(
    sql_database,
    obj_index.as_retriever(similarity_top_k=1)
)

**Query 1**

In [23]:
query1 = "What are the total orders in each month?"
response1 = query_engine.query(query1)

print(response1)
print(response1.metadata['sql_query'])
print(response1.metadata['result'])
print(response1.metadata['col_keys'])

The total orders in each month are as follows: November - 63, October - 31, April - 29, May - 29, March - 27, February - 26, January - 25, December - 22, September - 20, June - 19, July - 18, August - 17.
SELECT MONTH(orderDate) AS month, COUNT(orderNumber) AS totalOrders
FROM orders
GROUP BY MONTH(orderDate)
ORDER BY totalOrders DESC;
[(11, 63), (10, 31), (4, 29), (5, 29), (3, 27), (2, 26), (1, 25), (12, 22), (9, 20), (6, 19), (7, 18), (8, 17)]
['month', 'totalOrders']

In [24]:
df1 = pd.DataFrame(response1.metadata['result'], columns=response1.metadata['col_keys'])
print(df1.head())

   month  totalOrders
0     11           63
1     10           31
2      4           29
3      5           29
4      3           27

**Query 2**

In [25]:
query2 = "What are the total customers in each country?"
response2 = query_engine.query(query2)

print(response2)
print(response2.metadata['sql_query'])
print(response2.metadata['result'])
print(response2.metadata['col_keys'])

The total number of customers in each country are as follows: USA (36), Germany (13), France (12), Spain (7), Australia (5), UK (5), Italy (4), New Zealand (4), Singapore (3), Finland (3), Canada (3), Switzerland (3), Sweden (2), Denmark (2), Norway (2), Portugal (2), Japan (2), Ireland (2), Belgium (2), Austria (2), Poland (1), Hong Kong (1), Netherlands (1), South Africa (1), Philippines (1), Russia (1), Israel (1).
SELECT country, COUNT(customerNumber) AS total_customers
FROM customers
GROUP BY country
ORDER BY total_customers DESC;
[('USA', 36), ('Germany', 13), ('France', 12), ('Spain', 7), ('Australia', 5), ('UK', 5), ('Italy', 4), ('New Zealand', 4), ('Singapore', 3), ('Finland', 3), ('Canada', 3), ('Switzerland', 3), ('Sweden', 2), ('Denmark', 2), ('Norway  ', 2), ('Portugal', 2), ('Japan', 2), ('Ireland', 2), ('Belgium', 2), ('Austria', 2), ('Norway', 1), ('Poland', 1), ('Hong Kong', 1), ('Netherlands', 1), ('South Africa', 1), ('Philippines', 1), ('Russia', 1), ('Israel', 1)]
['country', 'total_customers']

In [26]:
df2 = pd.DataFrame(response2.metadata['result'], columns=response2.metadata['col_keys'])
print(df2.head())

     country  total_customers
0        USA               36
1    Germany               13
2     France               12
3      Spain                7
4  Australia                5

**Query 3**

In [27]:
query3 = "top five customer placed highest number of orders? Provide customer name."
response3 = query_engine.query(query3)

print(response3)
print(response3.metadata['sql_query'])
print(response3.metadata['result'])
print(response3.metadata['col_keys'])

The top five customers who have placed the highest number of orders are Euro+ Shopping Channel with 26 orders, Mini Gifts Distributors Ltd. with 17 orders, Danish Wholesale Imports with 5 orders, Australian Collectors, Co. with 5 orders, and Dragon Souveniers, Ltd. with 5 orders.
SELECT c.customerName, COUNT(o.orderNumber) AS numOrders
FROM customers c
JOIN orders o ON c.customerNumber = o.customerNumber
GROUP BY c.customerName
ORDER BY numOrders DESC
LIMIT 5;
[('Euro+ Shopping Channel', 26), ('Mini Gifts Distributors Ltd.', 17), ('Danish Wholesale Imports', 5), ('Australian Collectors, Co.', 5), ('Dragon Souveniers, Ltd.', 5)]
['customerName', 'numOrders']

In [28]:
df3 = pd.DataFrame(response3.metadata['result'], columns=response3.metadata['col_keys'])
print(df3.head())

                   customerName  numOrders
0        Euro+ Shopping Channel         26
1  Mini Gifts Distributors Ltd.         17
2      Danish Wholesale Imports          5
3    Australian Collectors, Co.          5
4       Dragon Souveniers, Ltd.          5

**Query 4**

In [29]:
query4 = "top 5 most selling products"
response4 = query_engine.query(query4)

print(response4)
print(response4.metadata['sql_query'])
print(response4.metadata['result'])
print(response4.metadata['col_keys'])

The top 5 most selling products are the 2002 Suzuki XREO, 1995 Honda Civic, America West Airlines B757-200, 2002 Chevy Corvette, and 1932 Model A Ford J-Coupe.
SELECT productName, SUM(quantityInStock) AS totalQuantity
FROM products
GROUP BY productName
ORDER BY totalQuantity DESC
LIMIT 5;
[('2002 Suzuki XREO', Decimal('9997')), ('1995 Honda Civic', Decimal('9772')), ('America West Airlines B757-200', Decimal('9653')), ('2002 Chevy Corvette', Decimal('9446')), ('1932 Model A Ford J-Coupe', Decimal('9354'))]
['productName', 'totalQuantity']

In [30]:
df4 = pd.DataFrame(response4.metadata['result'], columns=response4.metadata['col_keys'])
print(df4.head())

                      productName totalQuantity
0                2002 Suzuki XREO          9997
1                1995 Honda Civic          9772
2  America West Airlines B757-200          9653
3             2002 Chevy Corvette          9446
4       1932 Model A Ford J-Coupe          9354

**Dashboard**

In [34]:
# Initialize the Dash app
app = dash.Dash(__name__)

# Define the layout of the dashboard
app.layout = html.Div(children=[
    html.H1(children='Retail Dashboard'),

    # First row
    html.Div(children=[
        html.Div(children=[
            html.H2('Total Orders In Each Month'),
            dcc.Graph(
                id='bar-chart',
                figure=px.bar(df1, x='month', y='totalOrders', title='Total Orders In Each Month')
            )
        ], style={'width': '48%', 'display': 'inline-block'}),

        html.Div(children=[
            html.H2('Total Customers In Each Country'),
            dcc.Graph(
                id='pie-chart',
                figure=px.pie(df2, names='country', values='total_customers', title='Total Customers In Each Country')
            )
        ], style={'width': '48%', 'display': 'inline-block', 'marginLeft': '4%'})
    ], style={'display': 'flex'}),

    # Second row
    html.Div(children=[
        html.Div(children=[
            html.H2('Top 5 Customers'),
            dcc.Graph(
                id='line-chart',
                figure=px.line(df3, x='customerName', y='numOrders', title='Top 5 Customers')
            )
        ], style={'width': '48%', 'display': 'inline-block'}),

        html.Div(children=[
            html.H2('Top 5 Products'),
            dcc.Graph(
                id='stacked-bar-chart',
                figure=px.bar(df4, x='productName', y='totalQuantity', color='totalQuantity', title='Top 5 Products')
            )
        ], style={'width': '48%', 'display': 'inline-block', 'marginLeft': '4%'})
    ], style={'display': 'flex'})
])

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True, port=8000)